@if (card) {
  <div class=" overflow-scroll p-4 flex-col right-0 justify-center items-center">
      <mat-card class="h-[] w-[] mb-3 mt-0 p-3" style="background-color: rgb(201, 207, 235);">
          <mat-card-header class="mb-1 font-bold flex-col" style="font-size:large;"> 
              <div class=" h-full flex w-full m-4">
                  <div class="h-full items-start ">
                      <img class="rounded-full h-full" 
              src="{{user?.img}}" 
              alt="Profile Image" 
              onerror="this.onerror=null; this.src='/img/user-286-64.png';">

                  </div>
                  <div class="h-full w-[75%] ml-10 mt-4">
                      <mat-card-subtitle>{{user?.name}}</mat-card-subtitle>
                      <div class="text-sm opacity-50">{{card.createDate}}</div>
                  </div>
              </div>
              <mat-divider class="m-4"></mat-divider>
              <div class="w-full decoration-auto m-4">
                 {{card.title}}
              </div>
          </mat-card-header>
          @if (videLink) {
            <mat-card-content>
                @if (videLink) {
                    <iframe width="100%"
                src="{{videLink}}" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen></iframe>
                }
            </mat-card-content>
          }
          <mat-card-content>
              <p class="p-2 text-justify">{{card.description}}</p>
          </mat-card-content>
          <div class="mt-6">
              <mat-card-footer class="p-4 opacity-80 flex">
                  <div class="w-full text-end">
                    @if (downloadLink) {
                      <button mat-flat-button>Download</button>
                  }
                  </div>
              </mat-card-footer>
          </div>
      </mat-card>
  </div>
}