<div class="w-full h-full p-4 flex justify-center flex-col">
  <form [formGroup]="profileForm" (submit)="onSubmit()">

    <div>
      <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible relative">
        <img id="imagePreview" class="circular-image object-cover object-center w-96 h-96" [src]="imageSrc || 'assets/imgs/user-286-512.png'" alt="Profile Image" />
        <label class="block">
          <input type="file" id="fileInput" class="absolute inset-0 opacity-0 cursor-pointer file-input w-full max-w-xs" (change)="onFileChange($event)" formControlName="img" />

          <span class="block w-full
            py-2 px-4
            rounded-lg border-0
            text-sm font-semibold
            bg-blue-600 text-white
            hover:bg-blue-700
            disabled:opacity-50 disabled:pointer-events-none
            dark:text-neutral-500
            dark:bg-blue-500
            dark:hover:bg-blue-400
          ">Choose</span>
        </label>
      </div>
    </div>

    
    
    <div class="relative w-full min-w-[200px] h-10 mb-4">
      <label class="input input-bordered flex items-center gap-2">
        Name
        <input type="text" class="grow" placeholder="John Doe"  formControlName="name"/>
      </label>
        
    </div>

    <div class="relative w-full min-w-[200px] h-10 mb-4">
      <label class="input input-bordered flex items-center gap-2">
        Mobile No
        <input type="number" class="grow" placeholder="9067340000" formControlName="phone"/>
      </label>
    </div>

    <div class="relative w-full min-w-[200px] h-10 mb-4">
      <label class="input input-bordered flex items-center gap-2">
        Address
        <input type="text" class="grow" placeholder="John Doe, 456 Elm Street, Suite 3, Los Angeles, CA 90001, USA" formControlName="address"/>
      </label>
    </div>

    <div class="flex gap-10">
      <div class="inline-flex items-center">
        <label class="relative flex items-center p-3 rounded-full cursor-pointer" for="male">
          <input id="male" type="radio" value="M" formControlName="gender"
            class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-blue-600 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:before:bg-gray-900 hover:before:opacity-10" />
          <span
            class="absolute text-blue-600 transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 16 16" fill="currentColor">
              <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
            </svg>
          </span>
        </label>
        <label class="mt-px font-light text-gray-700 cursor-pointer select-none" for="male">
          Male
        </label>
      </div>
    
      <div class="inline-flex items-center">
        <label class="relative flex items-center p-3 rounded-full cursor-pointer" for="female">
          <input id="female" type="radio" value="F" formControlName="gender"
            class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-blue-600 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-900 checked:before:bg-blue-900 hover:before:opacity-10" />
          <span
            class="absolute text-blue-600 transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 16 16" fill="currentColor">
              <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
            </svg>
          </span>
        </label>
        <label class="mt-px font-light text-gray-700 cursor-pointer select-none" for="female">
          Female
        </label>
      </div>
    
      <div class="inline-flex items-center">
        <label class="relative flex items-center p-3 rounded-full cursor-pointer" for="other">
          <input id="other" type="radio" value="O" formControlName="gender"
            class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-blue-600 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:before:bg-gray-900 hover:before:opacity-10" />
          <span
            class="absolute text-blue-600 transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 16 16" fill="currentColor">
              <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
            </svg>
          </span>
        </label>
        <label class="mt-px font-light text-gray-700 cursor-pointer select-none" for="other">
          Other
        </label>
      </div>
    </div>
    

    <div class="relative w-full min-w-[200px] h-10 mb-4">
      <label class="input input-bordered flex items-center gap-2">
        BOD
        <input type="date" class="grow" formControlName="dob"/>
      </label>
    </div>
    
    <div class="w-full text-center">
      <button type="submit" class="rounded-md bg-blue-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-none active:bg-blue-700 hover:bg-blue-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">
        Save
      </button>
    </div>

    <div class="w-full text-center p-5">
      <h1 class="text-gray-800" (click)="logout()">It not my account?</h1>
    </div>

  </form>
</div>