<div class="w-full h-full">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">{{ user?.name }}</a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
      </div>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              #navImg
              alt="user"
              src="assets/imgs/user-286-64.png" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a routerLink="/me_data">Settings</a></li>
          <li><a routerLink="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

 <div>
  <app-card img="assets/imgs/attendance.png" title="Attendance" link="attendance" subTitle="Attendance System"></app-card>
  <app-card img="assets/imgs/school_8220314.png" title="Classes" link="classes" subTitle="Collage Classes"></app-card>
 </div>
</div>
