<div class="root">
  <div class="mask-black">
    <div class="root bg-blue-500">
      <div  class="z-[1] m-6 rounded-full bg-white bg-center bg-no-repeat bg-contain w-[200px] h-[200px] shadow-2 absolute top-[20%]" style="background-image: url('img/timt.jpg');"></div>

      <div data-aos="fade-left" class="z-[2] h-[55%] w-full shadow-1 p-4 bg-white absolute bottom-0 ml-2 mr-2 mt-[25px] flex justify-center items-center z-[2]" style="border-radius: 32px 32px 0px 0px; max-width: 700px;">
        <mat-divider>s</mat-divider>
        @if (loginForm) {
          <form  class="example-form w-full" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <mat-form-field class="example-full-width w-full bg-transparent">
              <mat-label>Email Id</mat-label>
              <input matInput type="email" placeholder="example@gmial.com" formControlName="username">
            </mat-form-field>
            <mat-form-field class="example-full-width w-full bg-transparent">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Enter Password" formControlName="password">
            </mat-form-field>
            <div class="w-full flex justify-end">
              <button mat-button target="_blank" [routerLink]="['/chpw']">Forget Password?</button>
            </div>
            <div class="w-full mt-5">
              <button mat-flat-button class="w-full shadow-2 justify-center">
                Login
              </button>
            </div>
          </form>
        }
      </div>

      <div class="glow-container w-[100%] h-[100%]" style="position: absolute;">
        <div class="ball"></div>
        <div class="ball" style="--delay:-12s;--size:0.35;--speed:25s;"></div>
        <div class="ball" style="--delay:-10s;--size:0.3;--speed:15s;"></div>
        
      </div>
    </div>
  </div>
</div>

