<div class="root">

    <!-- top bar -->
    <div class="flex w-[120%] h-[200px]   bg-[#4340dd] absolute top-[-90px] z-[3] justify-center items-center pt-[100px]" style="border-radius: 100%;" data-aos="fade-down">
        <h4 class="font-bold" style="font-size:large;">Notice Board</h4>
    </div>

    <!-- body -->
    <div class="w-full absolute z-[2] top-[100px] bottom-0 left-0 right-0">

        <div class=" overflow-scroll p-4 flex-col right-0 justify-center mt-3 bg-white">

            <mat-card class="h-[] w-[] mb-3 flex p-4" style="background-color: rgb(201, 207, 235);" data-aos="fade-right">
                <div class=" h-full flex">
                    <div class="h-full w-[25%] items-start ">
                        <img class="rounded-full h-full  " src="https://img.daisyui.com/images/profile/demo/5@94.webp"
                            alt="">
                    </div>
                    <div class="h-full w-[75%] ml-10 mt-4">
                        <mat-card-subtitle>Madhumita rana</mat-card-subtitle>
                        <div class="text-sm opacity-50">Student</div>

                    </div>
                    <div class="bg-[#5036e4]  h-[28px] w-[70px] text-center rounded-l-[2rem] rounded-r-[2rem] animate-pulse text-white font-parkinsans">NEW</div>
                </div>
            </mat-card>

            <mat-card class="h-[] w-[] mb-3 mt-0 p-3" style="background-color: rgb(201, 207, 235);" data-aos="fade-left">
                <mat-card-header class="mb-1 font-bold" style="font-size:large;"> Title</mat-card-header>
                <h1 class="p-2">This is noticeboard 
                    are itiitilk
                    k;kdsklThis is he ooio iojkj o
                    are itiitilk
                    k;kdsklThis is noticeboard 
                    are itiitilk
                    k;kdsklThis is noticeboard 
                    are itiitilk
                    k;kdsklThis is noticeboard 
                    are itiitilk
                    k;kdsklThis is noticeboard 
                    are itiitilk
                    k;kdsklThis is noticeboard 
                    are itiitilk
                    k;kdsklThis is noticeboard 
                    are itiitilk
                    k;kdsklThis is noticeboard 
                    are itiitilk
                    k;kdsklThis is noticeboard 
                    are itiitilk
                    k;kdsklThis is noticeboard 
                    are itiitilk
                    k;kdskl hiuriu i8 oiu ihfi
                    k;kdskl hiuriu i8 oiu ihfi
                    k;kdskl hiuriu i8 oiu ihfi
                    k;kdskl hiuriu i8 oiu ihfi
                </h1>
                <div class="mt-6">
                    <mat-card-footer class="absolute right-0 bottom-0 p-4 opacity-80">8/11/2024</mat-card-footer>
                </div>
            </mat-card>
        </div>

    </div>

    <div class="absolute right-4 bottom-[16px] animate-bounce">
        <button mat-fab>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-patch-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5" />
                <path
                    d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z" />
            </svg>
        </button>
    </div>
</div>