@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.dancing {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 200px !important;
    font-style: normal;
    font-size: 80px;
}

#more{
    display: none;
}