<div class="w-full h-full " style="box-sizing: border-box;">
  <div class="rounded-lg bg-background px-8 py-8 lg:flex-row w-full h-full relative">
    <!-- Card Header -->
    <div class="mb-2 flex items-center justify-between w-full h-[20%] m-2">
      <div class="flex-col">
        <div class="flex items-center space-x-1">
          <span class="text-4xl font-semibold text-foreground">All Student</span>
        </div>
        <span class="text-sm text-muted-foreground">Student attendence rate</span>
      </div>
    </div>
    <!-- end Card Header -->
    <div class="inline-flex rounded-md shadow-xs r-0" role="group" style="position: absolute; right: 15px; top:14px;">
      <button (click)="activateYearly()" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700"> 
        Yearly
      </button>

      <button (click)="activateMonthly()" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
       Monthly
      </button>

      <select class="rounded-t-none rounded-b-none  inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700" [(ngModel)]="selectedOption" name="nft_dropdown_select">
        <option  *ngFor="let item of items" [value]="item"> {{item}}</option>
      </select>
                          
    </div>

    <div>
      
    </div>
    <!-- Card Body -->
    <apx-chart style="height: 50px !important;" [series]="chartOptions.series!" [chart]="chartOptions.chart!" [legend]="chartOptions.legend!"
      [dataLabels]="chartOptions.dataLabels!" [fill]="chartOptions.fill!" [stroke]="chartOptions.stroke!"
      [xaxis]="chartOptions.xaxis!" [yaxis]="chartOptions.yaxis!" [states]="chartOptions.states!"
      [tooltip]="chartOptions.tooltip!" [colors]="chartOptions.colors!" [grid]="chartOptions.grid!"
      [title]="chartOptions.title!">
    </apx-chart>
  </div>
</div>