<div class="root">
  @if (lable == "1" || lable == "2") {
    <div class="w-full h-[10%] absolute bottom-0 flex items-center justify-center">
      <mat-form-field>
        <mat-label>Stream</mat-label>
        <mat-select (selectionChange)="selectStream($event.value)">
          @for (sem of stream; track $index) {
            <mat-option [value]="sem.value">
              {{ sem.lable }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event.value)">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>semester</mat-label>
        <mat-select (selectionChange)="selectSem($event.value)">
          @for (st of semester; track st) {
            <mat-option [value]="st.value">{{st.lable}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-full h-[90%] overflow-x-scroll absolute top-0">
      <div class="h-full w-full relative flex-col">
        <table mat-table [dataSource]="usersList" class="mat-elevation-z8" *ngIf="usersList.length > 0">

          <!-- No. Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Roll Column -->
          <ng-container matColumnDef="roll">
            <th mat-header-cell *matHeaderCellDef> Roll </th>
            <td mat-cell *matCellDef="let element"> {{element.roll}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="deleteUser(element.roll)" style="color: red !important;">
                Delete
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>
  }
  @if (lable == "3") {
    <div class="w-full h-[54px] absolute top-0 flex items-center pl-2">
      <button mat-button class="btn btn-circle bg-transparent outline-none hover:bg-blue-500" (click)="back();">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="root">
      <div class="flex w-full h-full flex-col justify-center items-center">
        <div id="scan-box" (click)="enableScan()"
          class="w-52 h-52 bg-black place-items-center rounded-box  my_shdow overflow-hidden outline outline-[#647bfd7a] relative">
          @if (scan) {
            <video #video autoplay class="rounded-box" width="100%" height="100%"></video>
          }
          <canvas #overlay
            style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: 100%; width: 100%;"></canvas>
        </div>
        @if (alradyDetected) {
          <button class="btn btn-outline btn-info m-4" (click)="reset();">
            <i class="bi bi-arrow-clockwise text-2xl"></i>
          </button>
        }

         @if (giveUser) {
          <div class="flex gap-3 items-center bg-[#ffffff2c] px-6 rounded-md m-5">

            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img [src]="giveUser.img" alt="Avatar Tailwind CSS Component" />
              </div>
            </div>

            <div>
              <div class="font-bold text-white">{{giveUser.name}}</div>
              <div class="text-sm opacity-50 text-white">{{giveUser.roll}}</div>
            </div>

            <div class="tooltip my-6 ml-4 text-white" data-tip="Give Attendance">
              <button class="btn btn-outline btn-info "><i class="bi bi-person-check text-2xl" (click)="giveTOHaven();"></i></button>
            </div>

          </div>
         }

        <div class="m-14">
          <button mat-flat-button extended class="btn btn-outline btn-info disabled" (click)="attend();" [disabled]="!attAble">
            <i class="bi bi-person-raised-hand text-2xl"></i>{{ !attAble ? "Attendance alrady given" : "Give Attendance"
            }}</button>


        </div>

      </div>
    </div>
  }
</div>
