<div class="flex flex-wrap h-full w-full">
  <div class="fixed navbar h-[57px] bg-slate-500 hover:bg-blue-500 w-full">
    <button class="btn btn-square btn-ghost bg-transparent border-none">
      <i routerLink="/" class="bi bi-box-arrow-left text-white text-3xl"></i>
    </button>
    <div class="flex-1">
      <i class="bi bi-person-hearts text-white btn btn-ghost text-3xl" title="Add friend"></i>
    </div>
    
    <div class="flex-none">


      <label class="form-control w-fit">
        <select class="select select-bordered" [(ngModel)]="selectedMonth" (change)="selectMonth();">
          <option disabled selected value="0">Months</option>
          <option *ngFor="let month of months" [value]="month.value">{{ month.lable }}</option>
        </select>
        
        
      </label>
    </div>

    
  </div>

  <!-- Scrollable table container -->
  <div class="overflow-x-hidden" style="position: absolute; top: 70px; left: 0; right: 0; bottom: 0;">
    <div class="w-full h-full overflow-hidden">
      <div class="overflow-y-auto" style="max-height: calc(100vh - 70px);">
        <table class="table table-xs text-center w-full">
          <thead class="sticky top-0 bg-[#042f4b]">
            <tr class="h-45px  hover:bg-slate-500 text-white text-lg">
              <th></th>
              <th>Name</th>
              <th>Attendance Date</th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover:bg-blue-500">
              <th>1</th>
              <td>Cy Ganderton</td>
              <td>12/16/2020</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>