<!-- login form -->
<div class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">Welcome<span class="text-primary">!</span></h2>
    <p class="text-sm text-muted-foreground">Scan QR for login</p>
  </div>

  <div class="w-full h-full flex justify-center items-center flex-col">
      <div class="w-[200px] h-[200px] bg-white p-6 rounded-[6px] flex items-center align-middle">
        <img [src]="qr_img" class="w-full" onerror="this.onerror=null;this.src='/assets/icons/basic/loading.gif';">
      </div>
    
     <div class="w-full p-3 pt-10 text-white flex flex-col items-center align-middle">
      <h1 class="text-4xl font-bold">"Fast and Secure"</h1>
      <p class="text-xs font-light text-center">
        This page designed for member of <b class="text-sm">Tamralipta Institute of Management & Technology</b>. Developed by Tuhin Subhra Ghara bach of 2022-BCA.
        <pre><a class="text-red-600" href="https://github.com/tuhin-su">&#64;tuin-su</a></pre> 
     </div>
  </div>
</div>
