<div>
  <!-- Header -->
  <!-- <app-nft-header></app-nft-header> -->
  <!-- end Header -->

  <div class="flex justify-center items-center w-full  flex-wrap">
    <!-- Dual Card -->
    <!-- <div nft-dual-card [nft]="nft[0]" class="md:col-span-2"></div> -->
    <!-- end Dual Card -->
    <!-- Single Card -->
    <!-- <div nft-single-card [nft]="nft[1]"></div> -->
    <!-- end Single Card -->
    <!-- Single Card -->
    <!-- <div nft-single-card [nft]="nft[2]"></div> -->
    <!-- end Single Card -->
    <!-- Single Card -->
    <div nft-chart-card class="w-[95%] h-[95%] "></div>
    <!-- end Single Card -->
    <!-- Auctions Table -->
    <!-- <div nft-auctions-table class="md:col-span-2 xl:col-span-3"></div> -->
  </div>
</div>
