<div class="col-span-12">
    <h1>Daily Overview</h1>
</div>
<div  class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Attandens</span>
                <div  class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{total}} </div>
            </div>
            <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-book text-blue-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{percentage}}% </span>
        <span class="text-muted-color">today's percentage of attendence</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Classes</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{class}} </div>
            </div>
            <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-desktop text-orange-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{month}} </span>
        <span class="text-muted-color"> total class of this month</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Notic</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{thismonth}} </div>
            </div>
            <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-users text-cyan-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{year}} </span>
        <span class="text-muted-color">notices of this year</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Comments</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">152 Unread</div>
            </div>
            <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-comment text-purple-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">85 </span>
        <span class="text-muted-color">responded</span>
    </div>
</div>