@if (notice) {
    <div class=" p-4  right-0 justify-center m-3 bg-white">


        <mat-card class=" mb-3 mt-0 p-3" style="background-color: rgb(201, 207, 235);">
    
            <div class=" h-full flex mb-2">
                <div class="h-full w-[25%] items-start ">
                    <img class="rounded-full h-full  " src= "{{user?.image}}" alt="Profile Image">
                </div>
                <div class="h-full w-[75%] ml-10 mt-4">
                    <mat-card-subtitle>{{user?.name}}</mat-card-subtitle>
                    <div class="text-sm opacity-50">{{user?.group}}</div>
    
                </div>
                <div
                    class="bg-[#5036e4]  h-[28px] w-[70px] text-center rounded-l-[2rem] rounded-r-[2rem] animate-pulse text-white font-parkinsans">
                    NEW</div>
            </div>
    
            <mat-divider></mat-divider>
    
            <mat-card-header class="mb-1 font-bold" style="font-size:large;"> {{notice?.title}}</mat-card-header>
            <h1 class="p-2 text-justify">{{notice?.description}} </h1>
            <div class="mt-6">
                <mat-card-footer class="absolute right-0 bottom-0 p-4 opacity-80">{{notice?.date}}</mat-card-footer>
            </div>
        </mat-card>
    </div>
}