<div class="root flex-wrap" style="width: 100%; height: 100%;">
    <!-- Image Section -->
    <div class="w-full h-[50%]" style="background-image: url('/icon/school/chpwd.jpg'); background-size: contain; background-repeat: no-repeat;"></div>
  
    <!-- Form Section -->
    <div class="w-full h-[50%] p-6 bg-white">
        @if(otpSendForm){
            <form class="example-form" [formGroup]="otpSendForm">
                <!-- Email Field -->
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="user@gmail.com" type="email" formControlName="email">
                </mat-form-field>
        
                <!-- Password Field -->
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="******" type="password" formControlName="password">
                </mat-form-field>
        
                <!-- Password Mismatch Message -->
                 @if(matchPassword){
                    <div>
                        <span class="parkinsans font-small">Confirm Password should be the same</span>
                    </div>
                 }
                
        
                <!-- Confirm Password Field -->
                <mat-form-field class="example-full-width">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput placeholder="******" type="password" (input)="onInputChange()" formControlName="confirm_password">
                </mat-form-field>
        
                <!-- OTP Field and Timer Section -->
                 @if(otpFild){
                    <div>
                        @if(!isTimeout){
                            <span class="parkinsans">OTP will be sent to your mail</span>
                        }
              
                        <mat-form-field class="example-full-width">
                          <mat-label>OTP</mat-label>
                          <input matInput placeholder="123456" type="number" formControlName="otp">
                        </mat-form-field>
              
                        <!-- Timer Section -->
                        <div class="timer-container">
                            @if(!isTimeout){
                                <p class="parkinsans">
                                    {{ minutes }}:{{ seconds }}
                                </p>
                            }
              
                          <!-- Resend OTP Button -->
                           @if(isTimeout){
                            <button mat-raised-button color="primary" class="parkinsans" (click)="resendOtp()">
                                Resend OTP
                              </button>
                           }
                        </div>
                      </div>
                 }
               
        
                <!-- Save Button -->
                <div class="w-full text-end">
                  <button mat-flat-button [disabled]="!otpSendForm.valid" (click)="onSubmit()">Save</button>
                </div>
              </form>
        }
      
    </div>
  </div>
  