<div class="root flex-col relative">

  <!-- top bar -->
  <div class="top-nav z-10">
    <button mat-flat-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <h1 style="margin: 0 auto; color: wheat; font-size: large;" class="parkinsans">Class Content</h1>

    <img src="/icon/school/presentation.png" style="max-height: 50%;">
  </div>
  

  <!-- create class btn -->
   @if (!createClassView) {
    <div class="bg-red-50 absolute bottom-16 right-4 z-[3]" [hidden]="!(label=='1' || label=='2')">
      <button mat-fab  (click)="createClass();">
        <mat-icon>add</mat-icon>
      </button>
    </div>
   }
 

  <!-- show to day classes -->
  <div class="h-full w-full relative">
    <div class="absolute bottom-[41px] left-0 right-0 top-[100px]">
      <div class="w-full h-full overflow-x-scroll flex flex-col items-center p-1">
        @for (item of cardData; track $index) {
          <class-card class="w-[95%]" [card]="item"></class-card>
        }
      </div>
    </div>
    <div class="absolute w-full bottom-1 h-[40px] text-center">
      <input  style="height: 0px; width: 0px;"
        matInput 
        [matDatepicker]="picker" 
        (dateChange)="onDateChange($event.value)" 
        [matDatepickerFilter]="dateFilter">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>

  <!-- creaate classes -->
  @if (createClassView) {
    <div data-aos="fade-up" class="absolute z-[3] shadow-2 w-[95%] h-[60%] bottom-0 bg-white pt-[22px]" style="border-radius: 22px 22px 0px 0px;">
      <div class="relative w-full h-full">
        <div class="w-full h-[80%] p-4">
         @if (calssForm) {
          
          <input type="file" class="lock w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-900 dark:border-gray-700 dark:text-neutral-400
          file:bg-gray-50 file:border-0
          file:me-4
          file:py-3 file:px-4
          dark:file:bg-gray-700 dark:file:text-neutral-400 mb-3" extensions="pdf,xlsx,mp4,doc" (change)="onFileSelected($event)"/>
          <form  [formGroup]="calssForm" class="w-full h-full">
            <mat-form-field class="example-full-width">
              <mat-label>Title or Class name</mat-label>
              <input matInput type="text" class="grow" formControlName="title" placeholder="Title or Class name" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Stream</mat-label>
              <mat-select (selectionChange)="selectStream($event.value)">
                @for (stre of stream; track stre) {
                  <mat-option [value]="stre.value">{{stre.lable}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Semester</mat-label>
              <mat-select (selectionChange)="selectSem($event.value)">
                @for (sem of semester; track sem) {
                  <mat-option [value]="sem.value">{{sem.lable}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput class="textarea textarea-bordered grow gap-2 m-3 w-[99%]" type="password" formControlName="description" placeholder="description"></textarea>
            </mat-form-field>


          </form>
         }
        </div>
        <div class="w-full h-[20%] flex justify-center items-center gap-4">
          <button mat-flat-button extended (click)="createClass()" class="red-btn">Cancle</button>
          <button mat-flat-button extended (click)="onSubmit()">Save</button>
        </div>
      </div>
    </div>
  }
</div>