<!-- Staff and admin    *ngIf="lable == 1 || lable == 2" -->
<!-- <div *ngIf="lable == 1 || lable == 2"  class="flex flex-wrap h-full w-full">
  <div class="fixed navbar h-[57px] bg-slate-500 hover:bg-blue-500 w-full">
    <button class="btn btn-square btn-ghost bg-transparent border-none">
      <i routerLink="/" class="bi bi-box-arrow-left text-white text-3xl"></i>
    </button> -->
    <!-- <div class="flex-1">
      <i class="bi bi-person-hearts text-white btn btn-ghost text-3xl" title="Add friend"></i>
    </div> -->

    <!-- <div style="position: absolute; right: 2px;">
      <label class="form-control w-fit">
        <select class="select select-bordered" [(ngModel)]="selectedMonth" (change)="selectMonth();">
          <option disabled selected value="0">Months</option>
          <option *ngFor="let month of months" [value]="month.value">{{ month.lable }}</option>
        </select>
      </label>

      <label *ngIf="selectedMonth != '0'" class="form-control w-fit m-3">
        <select class="select select-bordered" [(ngModel)]="selectedstream" (change)="selectstream();">
          <option disabled selected value="0">Stream</option>
          <option *ngFor="let s of stream" [value]="s.value">{{ s.lable }}</option>
        </select>
      </label>
  


        <label *ngIf="selectedstream != '0'" class="form-control w-fit m-3">
          <select class="select select-bordered" [(ngModel)]="selectedsem" (change)="selectsem();">
            <option disabled selected value="0">Semester</option>
            <option *ngFor="let sem of semester" [value]="sem.value">{{ sem.lable }}</option>
          </select>
        </label>
    </div>
  </div>

  <div *ngIf="!usersList" style="display: flex; justify-content: center; align-items: center;" class="w-full h-full">
    <h1 *ngIf="selectedMonth=='0'">Selecet Month</h1>
    <h1 *ngIf="selectedstream == '0' && selectedMonth !='0'">Selecet Stream</h1>
    <h1 *ngIf="selectedMonth != '0' && selectedstream != '0' && selectedsem == '0'">Selecet semester</h1>

  </div> -->
  <!-- Scrollable table container -->
  <!-- <div *ngIf="usersList" class="overflow-x-hidden" style="position: absolute; top: 70px; left: 0; right: 0; bottom: 0;">
    <div class="w-full h-full overflow-hidden">
      <div class="overflow-y-auto" style="max-height: calc(100vh - 70px);">
        <table class="table table-xs text-center w-full">
          <thead class="sticky top-0 bg-[#042f4b]">
            <tr class="h-45px  hover:bg-slate-500 text-white text-lg">
              <th>Name</th>
              <th>Attendance Date</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let user of usersList" class="hover:bg-blue-500">
              <td><div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img *ngIf="user.img == ''"
                      src="/assets/imgs/user-286-512.png"
                      alt="Avatar Tailwind CSS Component" />
                    
                    <img *ngIf="user.img != ''"
                      [src]="user.img"
                      alt="profile img" />

                  </div>
                </div>
                <div>
                  <div class="font-bold">{{user.name}}</div>
                  <div class="text-sm opacity-50">{{ user.roll }}</div>
                </div>
              </div></td>
              <td>12/16/2020</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->
  
  <!-- student   *ngIf="lable == 3" -->
<!-- @if (lable == 3) {
  <div class="flex flex-wrap h-full w-full">
    
  
    
  </div>
}
  -->

<div class="root">
  @if (lable == 1 || lable == 2) {
    <div class="w-full h-[10%] absolute bottom-0 flex items-center justify-center">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event.value)">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Semester</mat-label>
        <mat-select (selectionChange)="selectSem($event.value)">
          @for (sem of semester; track sem) {
            <mat-option [value]="sem.value">{{sem.lable}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Stream</mat-label>
        <mat-select (selectionChange)="selectStream($event.value)">
          @for (st of stream; track st) {
            <mat-option [value]="st.value">{{st.lable}}</mat-option>
          }
        </mat-select>
      </mat-form-field>


    </div>
    <div class="w-full h-[90%] overflow-x-scroll bg-red-400 absolute top-0">
      <div class="h-full w-full relative">

      </div>
    </div>
  }
  @if (lable == 3) {
    <div class="w-full h-[54px] absolute top-0 flex items-center pl-2">
      <button mat-button class="btn btn-circle bg-transparent outline-none hover:bg-blue-500" (click)="back();">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="root">
      <div class="flex w-full h-full flex-col justify-center items-center">
        <div id="scan-box" (click)="enableScan()"
          class="w-52 h-52 bg-black place-items-center rounded-box  my_shdow overflow-hidden outline outline-[#647bfd7a] relative">
          @if (scan) {
            <video #video autoplay class="rounded-box" width="100%" height="100%"></video>
          }
          <canvas #overlay
            style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: 100%; width: 100%;"></canvas>
        </div>
        @if (alradyDetected) {
          <button class="btn btn-outline btn-info m-4" (click)="reset();">
            <i class="bi bi-arrow-clockwise text-2xl"></i>
          </button>
        }
    
         @if (giveUser) {
          <div class="flex gap-3 items-center bg-[#ffffff2c] px-6 rounded-md m-5">
    
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img [src]="giveUser.img" alt="Avatar Tailwind CSS Component" />
              </div>
            </div>
      
            <div>
              <div class="font-bold text-white">{{giveUser.name}}</div>
              <div class="text-sm opacity-50 text-white">{{giveUser.roll}}</div>
            </div>
      
            <div class="tooltip my-6 ml-4 text-white" data-tip="Give Attendance">
              <button class="btn btn-outline btn-info "><i class="bi bi-person-check text-2xl" (click)="giveTOHaven();"></i></button>
            </div>
      
          </div>
         }
        
        <div class="m-14">
          <button mat-flat-button extended class="btn btn-outline btn-info disabled" (click)="attend();" [disabled]="!attAble">
            <i class="bi bi-person-raised-hand text-2xl"></i>{{ !attAble ? "Attendance alrady given" : "Give Attendance"
            }}</button>
            
    
        </div>
    
      </div>
    </div>
  }
</div>